@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The "My Library" project was created with ASP.NET Core.</p>
    <p>The application allows you to add and read books from a virtual library. In addition, it is possible to modify and remove a selected book from the list.</p>
</div>
